source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

framework: net461, netstandard2.0
storage: none

nuget WebSharper ~> 4.7
nuget WebSharper.FSharp ~> 4.7
nuget WebSharper.Html ~> 4.7
nuget FSharp.Data
nuget FSharp.Core ~> 4.2.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
