source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

framework: net461, netstandard2.0
strategy: min
storage: none

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.Html prerelease
nuget FSharp.Data
nuget FSharp.Core ~> 4.2.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
