body {
    font-family: Lato, sans-serif;
    font-size: large;
}

.skip {
    height: 1em;
}

svg.FocusBrushing {
    font: 10px sans-serif;
}

    svg.FocusBrushing path {
        fill: steelblue;
        clip-path: url(#clip);
    }

    svg.FocusBrushing .axis path,
    svg.FocusBrushing .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    svg.FocusBrushing .brush .extent {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }

svg.CompaniesGraph {
}

    svg.CompaniesGraph .node {
        fill: white;
        cursor: pointer;
        stroke: #3182bd;
        stroke-width: 1.5px;
    }

        svg.CompaniesGraph .node:hover {
            fill: red;
        }

    svg.CompaniesGraph .link {
        fill: none;
        stroke: #9ecae1;
        stroke-width: 1.5px;
    }
